{% assign restricted = false %}
{% if product.metafields.custom.restricted_provinces contains customer_province %}
  {% assign restricted = true %}
{% endif %}

{% if restricted %}
  <div class="geo-restriction-warning">
    Sorry, this product is not available in your region ({{ customer_province }}).
  </div>
  <style>.quick-order-list__contents { display: none !important; }</style>
{% endif %}



{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>

{% render 'quick-order-list', product: product, show_image: true, show_sku: true, is_modal: true %}

{% schema %}
{
  "name": "t:sections.quick-order-list.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
